* {
	box-sizing  : border-box;
	font-family : 'DM Sans', sans-serif;
	font-weight : normal;
	margin      : 0;
	padding     : 0;
}

html {
	font-size : 61.25%;
	width: 100%;
}
body {
	font-size : 1rem;
	display   : flex;
	flex-flow : column nowrap;
	width: 100%;
}

button {
	cursor : pointer;
}
